.container {
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;
  display: grid;
  background: black;
  grid-template-areas: "content memoji";
  grid-template-columns: 1.5fr 1fr;
  justify-content: space-evenly;
  align-items: center;
}
.blackbg {
  background: black;
}
.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  margin: 16px 3px;
}
.stuff {
  grid-area: stuff;
  display: grid;
  grid-template-areas:
    "typo"
    "desc"
    "btns"
    "links";
  width: 100%;
  height: 100%;
  align-content: center;
  grid-row-gap: 20px;
}

.btns {
  grid-area: btns;
  height: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.btn-main {
  border: 0;
  background: black;
  color: white;
  text-align: center;
  min-height: 40px;
  min-width: 150px;
  margin: 5px;
}

.links {
  grid-area: links;
  display: flex;
  flex-direction: row;
  min-height: 45px;
}

.desc {
  grid-area: desc;
}

.desc p {
  padding: 2px;
  font-size: 24px;
}
.flexit {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.hero-title {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.proj-desc-container {
  margin: 0 auto;
  width: 97%;
  display: grid;
  grid-template-areas:
    "projdesc video"
    "stack  handles";
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  justify-content: space-evenly;
}

.backbtn {
  position: absolute;
  top: 0;
  left: 92%;
  margin-top: 3vh;
}

@media (max-width: 992px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "memoji"
      "content";
  }
  .stuff {
    align-content: flex-start;
  }
  .backbtn {
    left: 85%;
  }
  .proj-desc-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "projdesc"
      "video"
      "stack"
      "handles";
  }

  .hero-title {
    justify-content: center;
  }
  .btns {
    flex-direction: column;
    width: 100%;
  }
  #containerMain a button {
    width: 100%;
  }
  .btn-main {
    margin-bottom: 1rem;
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .links {
    justify-content: center;
  }
  .desc p {
    text-align: center;
    font-size: 20px;
  }
}
@media (max-width: 772px) {
  .desc p {
    font-size: 17px;
  }
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 32px;
}

.margin-sep {
  margin: 16px;
}

.black {
  color: black !important;
}

.purple {
  background: rgba(87, 78, 255, 1) !important;
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.8px;
  padding: 16px 50px;
  border-radius: 0px;
  transition: all 800ms ease 0s;
}

#containerMain a {
  color: white !important;
}

#containerMain p {
  color: white !important;
}

.subtitle {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: -0.1px;
  font-size: 26px;
}

/* .subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: -0.1px;
    font-size: 26px;
} */

.text-center {
  text-align: center;
}

.content {
  grid-area: content;

  width: 100%;
  height: 100%;
}

.memoji {
  grid-area: memoji;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
}

.typo {
  grid-area: typo;
  display: flex;
}

.icon {
  color: white;
  font-size: 30px;
  margin: 10px;
}

.project-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "slides";
  grid-template-rows: 0.5fr 1fr;
  grid-template-columns: auto;
  justify-content: space-evenly;
}

.header {
  grid-area: header;
  display: grid;
  grid-template-areas: ". titler";
  grid-template-columns: 0.3fr 1fr 0.3fr;
  width: 100%;
  min-height: 100px;
}

.slides {
  grid-area: slides;
  width: 100%;
  height: 100%;
}

.footer {
  grid-area: footer;
  width: 100%;
  height: 100%;
}

.titler {
  grid-area: titler;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.titler h1 {
  text-align: center;
  margin-top: 25px;
}

.projname {
  width: 100%;
  text-align: center;
}

.backicon {
  color: black;
  border-radius: 50%;
  font-size: 2.5rem;
}

.projdesc {
  padding: 20px;
  grid-area: projdesc;
  width: 100%;
  height: 100%;
}

.video {
  padding-top: 0;
  padding-bottom: 0;
  grid-area: video;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.stack {
  padding: 20px;
  grid-area: stack;
  width: 100%;
  height: 100%;
}

.handles {
  padding: 20px;
  grid-area: handles;
  width: 100%;
  height: 100%;
}
.page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}